@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-width: 20rem;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 20rem;
    margin: 0;
  }

  :where(h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin: 0;
  }

  :where(ul, ol) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(button, input, textarea, select) {
    margin: 0;
    font: inherit;
  }

  button {
    border: 0;
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-width: 100%;
  }

  :where(img, video) {
    height: auto;
  }

  :where(a) {
    color: inherit;
  }
}
